.center {
  margin: auto;
  border-radius: 10px;
  width: 50%;
  height: 80%;
  background-color: cornsilk;
  padding: 10px;
  text-align: center;
}

.nice-text {
  font-family: Garamond, serif;
}

.parent {
  margin: 1rem;
  text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 100px 0px 100px;
}

a {
  text-decoration: none;
  font-size: 30px; 
  color: black;
}

.button {
  border-radius: 4px;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

body {
  background-color: darkolivegreen;
}
